<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Breezer",
  "url": "https://breezer.now",
  "logo": "https://breezer.now/images/logo/logo.svg",
  "email": "info@breezer.now",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Am Sonnenhang 2",
    "addressLocality": "Sankt Leonhard am Forst",
    "postalCode": "3243",
    "addressCountry": "AT"
  },
  "sameAs": [
    "https://www.instagram.com/breezer.now",
    "https://www.tiktok.com/@breezerapp",
    "https://apps.apple.com/at/app/breezer/id6737725511",
    "https://play.google.com/store/apps/details?id=com.breezerapp.breezer"
  ]
}
</script>
